{% extends "admin/change_list.html" %}
{% load static %}

<!-- Override the extrahead to add js. -->
{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "dashboard/Chart.min.css" %}"/>
    <script src="{% static "dashboard/Chart.bundle.min.js" %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const ctx = document.getElementById('changeListStat').getContext('2d');

            // Sample data
            const chartData = {{ chart_data | safe }};

            // Parse the dates to JS
            chartData.forEach((d) => {
                d.x = new Date(d.date);
            });

            // Render the chart
            const chart = new Chart(ctx, {
                type: 'bar',
                data: {
                    datasets: [
                        {
                            label: "Number of logs",
                            data: chartData,
                            backgroundColor: 'rgba(220,20,20,0.5)',
                        },
                    ],
                },
                options: {
                    maintainAspectRatio: false,
                    responsive: true,
                    scales: {
                        xAxes: [
                            {
                                type: 'time',
                                time: {
                                    unit: 'day',
                                    round: 'day',
                                    displayFormats: {
                                        day: 'MMM D',
                                    },
                                },
                            },
                        ],
                        yAxes: [
                            {
                                ticks: {
                                    beginAtZero: true,
                                    callback: function(value) {if (value % 1 === 0) {return value;}}
                                },
                            },
                        ],
                    },
                },
            });
        });
    </script>
{% endblock %}
<!-- End of extra head -->

{% block content %}

    <!-- Chart container -->
    <div style="width:80%; height:20%;">
        <canvas style="margin-bottom:30px; width:60%; height:20%;" id="changeListStat"></canvas>
    </div>

    {{ block.super }}
{% endblock %}